.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.homepage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  max-width: 100%;
  height:auto;
  position: fixed;
}

.homepage-container {
  padding: 20px;
  font-size: 2vw;
  
}

.invisible-btn {
  position: absolute;
  margin-left: 65%;
  margin-top: 25%;
  width: 30%;
  height: 10%;
  opacity: 100%;
  cursor: pointer;
  background-color: transparent;
  font-size: 2vw;
  font-family: 'Courier New', Courier, monospace;
  border: none;
  text-decoration: underline;
  color: black;
}

.test-container {
  background-color: #FDF9B1;
  padding: 100px;
  border-radius: 10px;
  max-width: 900px;
  margin: auto;
  text-align: center;
}

.dob-container {
  display: block;
  gap: 5px;
}

.dob-container input {
  width: 50px;
  padding: 5px;
  text-align: center;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}

.question-section {
  margin-bottom: 20px;
}

.question-text {
  margin-bottom: 20px;
  font-size: 30px;
  text-align: center;
}

.question-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.answer-section button {
  background-color:gainsboro;
  color: black;
  padding: 30px 20px;
  width: 100%;
  margin: 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}

.answer-section button:hover {
  background-color: #45a049;
}

label {
  display: block;
  margin-top: 20px;
  font-size: 18px;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}

.completion-message {
  font-size: 24px;
}

.intro-container {
  text-align: center;
  background-color: #262A55;
}

.intro-image {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.navigation-button {
  margin-top: 20px;
  width: 50%;
  height: 50%;
  cursor: pointer;
}

.btn.introend {
  margin-top: -25%;
  margin-left: 28%;
  
}

.email-container {
  text-align: center;
  background-color: #262A55;

}

.nav-buttons {
  justify-content: center;
  display: block;
}

.safe, .unsafe {
  cursor: pointer;
}

.safe {
  margin-top: -43%;
  margin-left: 10%;
}

.unsafe {
  margin-top: -4.5%;
  margin-left: 60%;
  width: 160px;
}

.safe img, .unsafe img {
  width: 150px;
  height: auto;
  margin: 10px;
}

.btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: transparent;
  position: absolute;
  margin-top: -33%;
  margin-left: 65%;
  cursor: pointer;
}

@media screen and (min-width: 600px) {
  .homepage-container {
    font-size: 3vw;
  }

  .invisible-btn {
    font-size: 3vw;
    margin-top: 30%;
  }
}

@media screen and (max-width: 992px) {
  .homepage-container {
    font-size: 2vw;
  }

  .invisible-btn {
    font-size: 2vw;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
